.CategoryCard {
	width: 209px;
	min-height: 157px;

	display: flex;
	flex-direction: column;
}

.CategoryCard__button {
	width: 100%;
	height: 100%;
	
	padding: 0;
}

.CategoryCard--narrow {
	width: 146px;
	min-height: 192px;
}

.CategoryCard__img {
	width: 100%;
	height: 157px;
}

.CategoryCard__caption {
	height: 35px;

	line-height: 35px;
	vertical-align: middle;
	color: var(--color-zero);

	background-color: var(--color-negative);
}