.ProductCard {
	width: 323px;
	border: 1px solid var(--color-senary)
}

.ProductCard_img {
	width: 100%;
}

.ProductCard_caption {
	padding: calc(2*var(--padding-tiny));

	display: flex;
	flex-direction: column;
	gap: var(--gap-tiny)
}
