.Card {
	border: 1px solid var(--color-senary)
}

.Card--row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.Card__img {
	width: 100%;
}

.Card__caption {
	padding: calc(2*var(--padding-tiny));

	display: flex;
	flex-direction: column;
	gap: var(--gap-tiny)
}
