.Modal {
	width: 100%;
	max-width: 900px;
	height: fit-content;
	margin: auto;
}

.Modal::backdrop {
	background: rgba(0, 0, 0, 0.9);
}

.Modal__header {
	height: 65px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	padding: var(--padding-small) var(--padding-medium);

	background-color: var(--color-negative);
}

.Modal__header .flex-row {
	align-items: center;
}

.Modal__header .CloseButton {
	margin-left: 20px;
}

.Modal__header__title {
	color: var(--color-zero);
}

.Modal .material-icons {
  	color: var(--color-secondary);
}

.Modal__content {
	margin: var(--padding-small);
}

.Modal--border .Modal__content {
	border: 1px solid var(--color-senary)
}