.SearchBar {
	display: flex;
	align-items: center;
	gap: var(--gap-small);
	min-width: 273px;
}

.SearchBar--fill {
	width: 100%;
}


.SearchBar__button--zero {
	color: var(--color-zero);
	border-color: var(--color-zero);
}