:root {
	--color-negative: #000000;
	--color-zero: #cccccc;
	
	--color-primary: #9353ff;
	--color-secondary: #daff01;
	--color-tertiary: #ee6471;
	--color-quaternary: #f87f46;
	--color-quinary: #343A40;
}